pandas
requests
anndata
networkx
numpy
matplotlib
myst-nb
myst-parser
sphinx~=2.4.0
ipykernel
sphinx-notfound-page
sphinx-version-warning
sphinx-prompt
sphinx-copybutton
sphinx-autoapi
sphinxcontrib-httpdomain
sphinx-last-updated-by-git
sphinx-material
sphinx-rtd-theme
sphinx-typlog-theme
sphinx-autobuild
Jinja2<3.1