
pandas
requests
anndata
networkx
numpy
matplotlib
sphinx
ipykernel
sphinx-notfound-page
sphinx-version-warning
sphinx-prompt
sphinx-copybutton
sphinx-autoapi
sphinxcontrib-httpdomain
sphinx-last-updated-by-git
sphinx-material
sphinx-rtd-theme
sphinx-typlog-theme
sphinx-autobuild
mkdocs==1.2.3
jinja2==3.1.3
pydevd
nbsphinx
git+https://github.com/ccb-hms/BioPlexPy.git#egg=BioPlexPy

